<h3 class="center">Comments for <%= @product.name %></h3>
<hr>

<div class="container">
	<%= link_to '<< Back', category_product_path(@category, @product), class: 'btn teal' %>

	<h4 class="center">Average Rating: <%= @average.round(1) %></h4>

	<% if @product.comments.any? %>
		<div class="row">
			<% @product.comments.each do |comment| %>
				<div class="col s12">
			  	<div class="card white">
			    	<div class="card-content teal-text">
			      	<span class="card-title">Rating: <%= comment.rating %></span>
			      	<p><%= comment.review %></p>
			    	</div>
			    	<div class="card-action">
			    		<%= link_to 'Edit', edit_product_comment_path(@product, comment), :class => "teal-text text-lighten-2" %>
			    		<%= link_to 'Delete', product_comment_path(@product, comment), method: :delete, data: {confirm: 'Really delete comment?'}, :class => "teal-text text-lighten-2" %>
			   		</div>
			  	</div>
				</div>
			<% end %>
		</div>
	<% else %>
		<h5 class="center">This product has no comments.</h5>
	<% end %>

	<div class="center">
		<%= link_to 'Add Comment', new_product_comment_path(@product), class: 'btn teal' %>
	</div>
</div>