<div class="center"; font-family="";>
<div id="home-logo">
<h1 class="brown-text">T-shirt Town</h1>
</div>
<p><em>a DPL company</em></p>
</div>
<h4> Subscribe to our newsletter </h4>
<%= form_for :subscriber, url: url_for(controller: 'shared', action: 'create') do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true %>
  <%= f.label :email %>
  <%= f.email_field :email, required: true %>
  <%= f.submit "Subscribe", class: 'orange darken-4 btn' %>
<% end %>
