<div class="container">
<h1>Categories</h1>
<% if @categories.any? %>
  <table>
    <thead>
      <tr>
        <th>Style</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= link_to category.style, category_products_path(category) %></td>
          <td><%= category.style %></td>
          <td><%= link_to 'Edit', edit_category_path(category) %></td>
          <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h3>Sorry, no longer available.</h3>
<% end %>

<br>
<%= link_to "Add Category", new_category_path, class: 'btn' %>
<%= link_to 'All Categories', categories_path, class: 'btn' %>
</div>
