<%= link_to "<< Back To All #{@category.style} Products", category_products_path(@category), class: 'btn' %>

<div class='center'>
<h1><%= @product.name %></h1>


<div class="container">
  Name: <i><%= @product.name %></i>
  <br />
  Description: <i><%= @product.description %></i>
  <br />
  Price: $<i><%= @product.price %></i>
  <br />
  Quantity on-hand: <i><%= @product.inventory %></i>
  <br />
  Image: <i><%= image_tag @product.avatar.url(:medium) %></i>
</div>
<br /><br />
<div class="container">
<%= link_to 'Edit', edit_category_product_path(@category, @product), class: "brown-text text-lighten-2" %> |
<%= link_to 'Delete', category_product_path(@category, @product), class: "brown-text text-lighten-2", method: :delete, data: {confirm: 'Really Delete Product?'} %>
</div>
<br /><br />
<hr />

<br /><br />
</div>

<h3 class="center">Comments for <%= @product.name %></h3>
<br>

<div class="container">

	<% if @product.comments.any? %>
	<h4 class="center">Average Rating: <%= @average.round(1) %></h4>
		<div class="row">
			<% @product.comments.each do |comment| %>
				<div class="col s12">
			  	<div class="card white">
			    	<div class="card-content teal-text">
			      	<span class="card-title">Rating: <%= comment.rating %></span>
			      	<p><%= comment.review %></p>
			    	</div>
			    	<div class="card-action">
			    		<%= link_to 'Edit', edit_product_comment_path(@product, comment), :class => "brown-text text-lighten-2" %>
			    		<%= link_to 'Delete', product_comment_path(@product, comment), method: :delete, data: {confirm: 'Really delete comment?'}, :class => "brown-text text-lighten-2" %>
			   		</div>
			  	</div>
				</div>
			<% end %>
		</div>
	<% else %>
		<h5 class="center">This product has no comments.</h5>
	<% end %>

	<div class="center">
		<%= link_to 'Add Comment', new_product_comment_path(@product), class: 'btn brown' %>
	</div>
</div>
