<div class='center'>
<h1><%= @product.name %></h1>


<div class="container">
  Name: <i><%= @product.name %></i>
  <br />
  Description: <i><%= @product.description %></i>
  <br />
  Price: $<i><%= @product.price %></i>
  <br />
  Quantity on-hand: <i><%= @product.inventory %></i>
  <br />
  Image: <i><%= image_tag @product.avatar.url(:medium) %></i>
</div>
<br /><br />
<div class="container">
<%= link_to 'Edit', edit_category_product_path(@category, @product), class: "teal-text text-lighten-2" %> |
<%= link_to 'Delete', category_product_path(@category, @product), class: "teal-text text-lighten-2", method: :delete, data: {confirm: 'Really Delete Product?'} %>
</div>
<br /><br />
<hr />

<div>
<%= link_to "View all #{@category.style} Products", category_products_path(@category), class: 'btn' %>

</div>

<br /><br />
<%= link_to 'See Product Comments', product_comments_path(@product), class: 'btn' %>
</div>


